@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";

body {
  font-family: 'Roboto', sans-serif;
  background: rgb(244,0,255);
background: linear-gradient(90deg, rgba(244,0,255,0.19371498599439774) 0%, rgba(0,212,255,0.3841911764705882) 100%);
}
