@layout('layouts.main')

@section('title')
VennFeed
@endsection

@section('content')
  <h1>Active Users</h1>

  <div class="job-container">
    <div class="blank"></div>
    <div class="job-info">
      <h3>Evan Powers</h3>
      <p>Skills include Knitting, Coding, Flying, Painting</p>
    </div>
  </div>
@endsection
