<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>VennFeed Home</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  <section="menu">
    <div class="account">
      <div class="icon">

      </div>
      <div class="symb">
      </div>
      <div class="identity">
        Whole lot o nothin
      </div>
    </div>
  </section>


</body>
</html>
